<html>
<head>
  <title>Home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <style>
  a:link{
    color:white;

  }
  a:visited{
    color: white;
  }
  a:active{
    color: white;
    background-color: white;
  }
  a:hover{
    color: red;
    background-color: green;
  }
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
</style>

  <div class="container-fluid">
<h1 class="text-center" style="color:green">Home Page</h1>

    <ul class="nav nav-pills nav-justified  bg-dark" >
      <img src="{{pic11}}" class="rounded" width="100" height="40">
      <li class="nav-item">
   <a class="nav-link"href="/">Home Page</a>
    </li>
     <li class="nav-item">
  <a  class="nav-link" href="/about11">About page</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contect">Contect Us</a>
</li>
<li class="nav-item">
  <a class="nav-link"  href="/reach">Reach Us</a>
</li></ul>

</div>
<div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
      <center><br><br><br><br><br><h1 class="text-success">A Tech Essentials Revolution.</h1>
      <button  type="button" class="btn btn-danger" href="C:\Users\Sagar\Desktop\f.html">Join Us</button>
</center>
</div>
    <div class="col-sm-8" style="background-color:lavenderblush;"><img src="{{pic2}}" class="rounded" width="850" height="550"></div>
  </div>
  <center><br><br><br><h1>Tech Help You Can Trust</h1><br><br>
    <h4 style="color:green;">Techi strives to make technology more accessible and simple to use for those who need it most – senior citizens, inexperienced users, and anyone who requires basic tech help. Whether it is your (or your parents’) phone or computer – we provide comprehensive services in a quick, trusted and professional manner.
  </h4><br><br><br><br>
    <div class="row">
      <div class="col-sm-6" style="background-color:lavender;">
        <h2 class="text-center" style="color:blue">Why Choose Techi</h2>
        <img src="{{pic12}}" class="rounded" width="750" height="450"></div>
      <div class="col-sm-6" style="background-color:lavenderblush;"><br><br><br>
        <div class="row">
    <div class="col" style="background-color:lavenderblush;"><h5 style="color:red">AVAILABLITY</h5>
    <p><b>Online support 24/7,every day</b>, <br><b>all year</b></p></div>
    <div class="col" style="background-color:lavenderblush;"><h5 style="color:red">AVAILABLITY</h5><p><b>Fair and customizable prices</b></p></div>
  </div><br><br><br><br>
  <div class="row">
  <div class="col" style="background-color:lavenderblush;"><h5 style="color:red">SERVICES</h5><p><b>Technology! Email, WhatsApp,</b><br>
    <b>Microsoft Office, Phone, Apps,<b><br>
       <b>Zoom,  TV, home appliances,</b><br>
       <b>online shopping, and much<br> more!</b></p></div>
  <div class="col" style="background-color:lavenderblush;"><h5 style="color:red">WELLNESS</h5>
    <p><b>Great service by us, better living</b><br> <b>for you and your loved ones</b></p></div>
  </div>
</div>
</div><br>
  </div>
  <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Technology" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://www.websitedesigninspirations.com/wp-content/uploads/2019/05/all-time-best-tech-website-designs.jpg" alt="Technology" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://i-cdn.phonearena.com/images/article/121084-two/What-happened-in-mobile-tech-in-2019-a-month-by-month-recap.jpg" alt="Technology" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>



  {{> footer}}
</body>
</html>
